
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Anton', sans-serif;
}
h1{
    color:azure;
    background-color:  rgb(132, 238, 84);
    text-align: center;
}

h2{
    background-color: rgb(138, 206, 71);
    color:azure;
    text-align: center;
}

h3{
    color: chartreuse;
    text-align: center;
}

p{
    color:darkgrey;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

/*header*/

/*Index*/

.seccion-texto-index{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.main-index .seccion-texto-index div p{
    font-size: 40px;
    display: flex;
}

/* media cuori tablet*/
@media screen and ( max-width: 1024px){
    .main-index .seccion-texto-index div p{
        font-size: 30px;
    }
}

/* media cuori mobile*/
@media screen and ( max-width: 768px){
    .main-index .seccion-texto-index div p{
        font-size: 20px;
    }
}


/*pagina articulos flex-box*/
.flexcontainer-articulos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagen-articulos{
    width: 750px;
    align-self:center;
    border-radius: 10px; border-style: solid; color: darkgrey;
    overflow: hidden;
    box-shadow: 17px 21px 37px 22px rgba(214,206,206,1);
}

.imagen-articulos h3{
    text-decoration: underline;
    font-weight: bolder;
}

.imagen-articulos img {
    display: flex;
    width: 750px;
}

.imagen-articulos .texto-articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*pagina guia de talles flexbox*/
.guia-de-talles-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.seccion-guia-de-talles div img{
    display: flex;
    align-items: center;
    width: 100%;
    object-fit: cover;
}

.seccion-guia-de-talles div p{
    background-color: rgb(138, 206, 71);
    font-size: 50px;
    color: black;
}

/*Pagina Politicas de cambios*/

.grid-container-cambios{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    height: 200px;
    gap: 10px;
}



.grid-container-cambios .area-1{
    grid-column: 1/2;
    grid-row: 1;
}

.grid-container-cambios .area-2{
    grid-column: 2/3;
    grid-row: 1;
}

.grid-container-cambios .area-3{
    grid-column: 3/4;
    grid-row: 1;
}

.grid-container-cambios .area-4{
    grid-column: 4/5;
    grid-row: 1;
}

.seccion-cambios{
    display: flex;
    align-content: center;
    justify-content: center;
}

section .banner-cambios img{
    align-items: center;
    justify-items: center;
    width: 700px;
    height: 500px;
    object-fit: cover;
}

/*pagina contacto*/




/*footer*/
.footer-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

footer section a img{ /* logos Faceebook e Instagram*/
    width: 50px;
    height: 50px;
}

.footer-whatsapp{
    position: fixed;
    bottom: 50px;
}

footer section div a img{/* logo de whatsapp*/
    width: 60px;
    height: 60px;
    right: 0px;
    position: fixed;
}
