html{
    font-family: 'Anton', sans-serif;
}
h1{
    color:black;
    background-color:  aquamarine;
    text-align: center;
}

h2{
    text-align: center;
}

p{
    color: black;
    font-family: 'Anton', sans-serif;
    text-align: center;
}