/* header*/
header {
    nav {
        .container-fluid{
            .menu {
                flex-grow: 0;}
                .menu-button {
                border: 0;
                }
                .menu-button:focus {
                box-shadow: none;
                }
                }
            .navbarSupportedContent{
                .menu-ul {
                align-items: center;
                }
                .nav-link {
                font-size: 20px;
                &:hover{
                color: aquamarine;
                }
                }
            }
        }
    }